<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bomberman microverse theme</title>
  <script src="/scripts/index.js" type="module"></script>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Ultra|Work+Sans:400,500" rel="stylesheet">
</head>
<body>
  <section class="container">
    <article class="menu-container">
      
    </article>
  </section>
</body>
</html>